In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
dataset=pd.read_csv('hiring.csv')
dataset.shape

(16, 4)

In [3]:
dataset.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                8   55000
1       five         8.0                9   60000
2      three         6.0                7   70000
3     twelve         NaN                8   45000
4        NaN         9.0                9   50000

In [4]:
dataset.columns

Index(['experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [5]:
dataset['experience'].fillna(0,inplace=True)#filling NaN as 0 for experience

In [6]:
dataset.experience[0:3]

0        0
1     five
2    three
Name: experience, dtype: object

In [7]:
dataset['test_score'].mean()

7.083333333333333

In [8]:
dataset['test_score'].fillna(dataset['test_score'].mean(),inplace=True)

In [9]:
dataset.test_score.head()

0    8.000000
1    8.000000
2    6.000000
3    7.083333
4    9.000000
Name: test_score, dtype: float64

In [10]:
X=dataset.iloc[:,:3]

In [11]:
X.head()

  experience  test_score  interview_score
0          0    8.000000                8
1       five    8.000000                9
2      three    6.000000                7
3     twelve    7.083333                8
4          0    9.000000                9

In [12]:
def convert_word_to_int(word):
    word_dict={'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 
              'nine':9, 'ten':10, 'eleven':11 , 'twelve':12,'zero':0, 0:0}
    return word_dict[word]

In [13]:
X['experience']= X['experience'].apply(lambda x : convert_word_to_int(x))

In [14]:
X['experience'].head()

0     0
1     5
2     3
3    12
4     0
Name: experience, dtype: int64

In [15]:
y=dataset.iloc[:, -1]

In [16]:
y.head()

0    55000
1    60000
2    70000
3    45000
4    50000
Name: salary, dtype: int64

In [17]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [18]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
#saving to disk
pickle.dump(regressor,open('model.pkl','wb'))

In [20]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[8,8,9]]))

[64990.48125034]